<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDge8d6GGoXVdLwe9G-Rasabmg8wEEp2yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1089813412756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mattpusateri.theylost</string>
	<key>PROJECT_ID</key>
	<string>they-lost</string>
	<key>STORAGE_BUCKET</key>
	<string>they-lost.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089813412756:ios:6dc5e8d9db72e759db6d81</string>
</dict>
</plist>